<div *ngIf="!isComplete" class="d-flex flex-wrap">
  <ng-container class="border-0" *ngFor="let i of number">
    <app-loader class="col-12 col-md-6 col-lg-4"></app-loader>
  </ng-container>
</div>

<div *ngIf="arr.length == 0 && isComplete">
  <div class="jumbotron jumbotron-fluid text-center shadow" style="border-radius: 1em;">
    <div class="container">
      <h1 class="display-3" style="opacity: 0.8;">There is no data to show</h1>
    </div>
  </div>
</div>

<div class="d-flex flex-wrap">
  <ng-container *ngFor="let item of arr | paginate: { itemsPerPage: 12, currentPage: p }">
    <app-post (selected)="ShowSelected(item._id)" [img]="item.image" [name]="item.auther?.fname"
      class="col-12 col-md-6 col-lg-4">
      <ng-container class="name">
        {{(item.auther?.fname).charAt(0).toUpperCase() + (item.auther?.fname+' '+item.auther?.lname).slice(1)}}
      </ng-container>
      <ng-container class="username">{{ '@'+item.auther?.username }}</ng-container>
      <ng-container class="title">{{item.title}}</ng-container>
      <ng-container class="content">{{item.content | slice:0:30}}...</ng-container>
      <ng-container class="date">{{item.createdAt | date:'mediumDate'}}</ng-container>
      <ng-container class="likes">{{item.likes.length}}</ng-container>
    </app-post>
  </ng-container>
</div>
<br>
<pagination-controls class="float-md-right" (pageChange)="p = $event" (pageBoundsCorrection)="p = $event">
</pagination-controls>
