<div class="footer mt-5 p-5 container-fluid ">

  <div class="row">
    <div class="col-12 mb-4 mb-md-0 col-md-4">
      <p class="tags-title ">Tags Widget</p>
      <div class="d-flex flex-wrap">
        <ng-container *ngFor="let item of arr">
          <a class="tag m-1 pr-2 pt-1 pb-1 pl-2 rounded-lg" href="#" role="button">{{item}}</a>
        </ng-container>
      </div>
    </div>

    <div class="col-12 mb-4 mb-md-0 col-md-4">
      <p class="tags-title ">Latest News</p>
      <div class="d-flex flex-wrap">
        <div class="list-group">
          <a class="recent m-1" href="#">&#xbb; Mohamed Salah Scored a goal aginst Man City</a>
          <a class="recent m-1" href="#">&#xbb; Mohamed Mustafa a new prisdent of Canada</a>
          <a class="recent m-1" href="#">&#xbb; The Reinvention of Normal</a>
          <a class="recent m-1" href="#">&#xbb; Learn WordPress</a>
          <a class="recent m-1" href="#">&#xbb; The Science of Foodd</a>
          <a class="recent m-1" href="#">&#xbb; Elon Mask is reachest man in the world</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 mb-4 mb-md-0">
      <p class="tags-title">About</p>
      <p class="copyright">The Blog is developed by blogify team <br>copyright © 2021 all rights reserved</p>
      <p class="tags-title">Contact</p>
      <div class="row ml-2 mt-4 justify-content-lg-start">
        <span class="fab fa-facebook-square"></span>
        <span class="fab fa-instagram"></span>
        <span class="fab fa-twitter"></span>
        <span class="fab fa-google"></span>
      </div>
    </div>
  </div>
</div>
<div class="footer-text pl-2 pr-2 pt-3 pb-4 text-center">
  <div class="d-flex justify-content-center">
    <p class="copyright mt-2">copyright © blogify team, 2021 all rights reserved</p>
    <div class="ml-2">
      <img src="../../assets/BLOGIFY_free-file.png" width="100" height="50" alt="">
    </div>
  </div>
</div>
