<div class="footer mt-5 p-5 container-fluid ">

  <div class="row">
    <div class="col-12 mb-4 mb-md-0 col-md-4">
      <p class="tags-title ">Tags Widget</p>
      <div class="d-flex flex-wrap">
        <ng-container *ngFor="let item of tags">
          <a class="tag m-1 pr-2 pt-1 pb-1 pl-2 rounded-lg" href="#" role="button">{{item}}</a>
        </ng-container>
      </div>
    </div>

    <div class="col-12 mb-4 mb-md-0 col-md-4">
      <p class="tags-title ">Latest Articles</p>
      <div>
        <div class="list-group" *ngFor="let item of recent">
          <a class="recent m-1 d-block" href="#">&#xbb; {{item}}</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 mb-4 mb-md-0">
      <p class="tags-title">About</p>
      <p class="copyright">The Blog is developed by blogify team <br>copyright © 2021 all rights reserved</p>
      <p class="tags-title">Contact</p>
      <div class="row ml-2 mt-4 justify-content-lg-start">
        <span class="fab fa-facebook-square"></span>
        <span class="fab fa-instagram"></span>
        <span class="fab fa-twitter"></span>
        <span class="fab fa-google"></span>
      </div>
    </div>
  </div>
</div>
<div class="footer-text  pl-2 pr-2 pt-3 pb-4 text-center">
  <div class="d-flex justify-content-center">Copyright © blogify team, 2021 all rights reserved</div>
</div>
