<div class="jumbotron text-center m-0">
  <div class="contanier-fluid">
    <h1 class="display-3"><a class="title-link" [routerLink]="['/home']">Blogify</a></h1>
    <p class="lead mt-4">A simple blog project createrd by ITI Students</p>
    <div class="row mt-4 d-sm-flex justify-content-center">
      <a href="https://www.facebook.com/mohamed.mostafashaaban.1"><span class="fab fa-facebook-square"></span></a>
      <a href="https://twitter.com/MmsmeMohamed"><span class="fab fa-twitter"></span></a>
      <a href="https://www.instagram.com/"><span class="fab fa-instagram"></span></a>
      <a href="https://www.linkedin.com/in/mohamed-mustafa-490a6613b/"><span class="fab fa-linkedin"></span></a>
    </div>
  </div>
</div>

<!-- navbar  -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark shadow">
  <div class="container d-flex">




    <div class="d-flex justify-content-center">
      <img src="assets/img/_free-file.png" width="30" height="40" alt="logo">
      <a class="navbar-brand  ml-2 " href="#">blog</a>
    </div>

    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/home', { outlets: {'route1':['writers']}}]">Writers</a>
        </li>
        <li routerLinkActive="active">
          <a *ngIf="auth.isLoggedIn()" class="nav-link"
            [routerLink]="['/home', { outlets: {'route1':['profile']}}]">Profile</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!-- change the content based on user status -->

        <!-- Write Post Icon -->
        <li *ngIf="auth.isLoggedIn()" routerLinkActive="active"><a
            [routerLink]="['/home', { outlets: {'route1':['create']}}]" class="nav-link mr-2" role="button"><span
              class="fas fa-pen mr-1"></span></a>
        </li>

        <!-- Search icon -->
        <li *ngIf="auth.isLoggedIn()" routerLinkActive="active"><a
            [routerLink]="['/home', { outlets: {'route1':['search']}}]" class="nav-link search-btn mr-2"
            role="button"><span class="fas fa-search"></span></a>
        </li>

        <!-- register icon -->
        <li *ngIf="!auth.isLoggedIn()"><a routerLink="/signup" class="nav-link mr-2" role="button"><span
              class="fas fa-user-plus"></span>
            Sign up</a>
        </li>

        <!-- login icon -->
        <li *ngIf="!auth.isLoggedIn()" routerLink="/login"><a class="nav-link mr-2" role="button"><span
              class="fas fa-sign-in-alt"></span>
            Login</a>
        </li>

        <!-- logout icon -->
        <li *ngIf="auth.isLoggedIn()" (click)="auth.logout()"><a class="nav-link"><span
              class="fas fa-sign-out-alt"></span>
            Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
