<div class="container">

  <div class="card shadow p-0">


    <div class="article-title">
      <h1 class="card-title" style="color: rgba(0, 0, 0, 0.644);">{{article?.title}}</h1>
      <div class="d-flex justify-content-sm-start">
        <ng-container *ngFor="let tag of tags">
          <span class="badge badge-success m-1 p-1">{{tag}}</span>
        </ng-container>
      </div>
    </div>


    <img class="card-img-top img-fluid" src="{{article?.image}}" src="" alt="Card image cap"
      onerror="this.src='assets/img/no-image-available.png'">


    <div class="card-body p-5">
      <div class="card-text mt-3">
        <p>
          {{article?.content}}
        </p>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-12 col-md-8">
        <div class="auther-profile media p-3 pb-5">
          <div class="row m-3">
            <img *ngIf="showDiv" src="../../assets/img/_free-file.png" width="60" height="60"
              class="rounded-circle mr-3">
            <div *ngIf="!showDiv" [style.background-color]="img.chooseColor()"
              class="imgDiv d-flex justify-content-center text-center rounded-circle text-white">
              <span class="thumbnail h5 p-3">{{img.genrateChar(article?.auther?.fname)}}</span>
            </div>
            <div class="media-body">
              <h5 class="mt-2 auhter">Published by
                {{img.nameToCaptial(article?.auther?.fname+' '+article?.auther?.lname)}}</h5>
              <p class="username mt-0">@{{article?.auther?.username}}</p>
              <div class="view-post">
                <a class="recent m-1" href="#">&#xbb; View All posts by
                  {{img.nameToCaptial(article?.auther?.fname+' '+article?.auther?.lname)}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="info" class="col-12 col-md-4 p-4">
        <div class="article-info"><i class="fas fa-clock"></i>&nbsp; {{article?.createdAt | date: 'longDate'}}</div>
        <div class="article-info"><i class="fas fa-heart"></i>&nbsp; {{article?.likes?.length}} Like</div>
        <div class="article-info"><i class="fas fa-clock"></i>&nbsp; {{article?.comments.length}} Comment</div>
      </div>
    </div>


    <div *ngIf="auth.isLoggedIn()">
      <div class="m-4" *ngFor="let item of article?.comments">
        <app-comment [name]="img.nameToCaptial(article?.auther?.fname+' '+article?.auther?.lname)">
          <ng-container class="content">
            {{item?.content}}
          </ng-container>
          <ng-container class="date">
            {{item?.createdAt | date:'mediumDate'}}
          </ng-container>
        </app-comment>
      </div>
    </div>


    <div *ngIf="!auth.isLoggedIn()">
      <div class="jumbotron text-center m-0">
        <h1 class="display-10">Comments Are Closed</h1>
      </div>
    </div>
  </div>


</div>
