<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="d-flex flex-wrap">
    <ng-container *ngFor="let item of arr">
      <app-post class="col-12 col-md-4">
        <ng-container class="title">{{item.title}}</ng-container>
        <ng-container class="content">{{item.content | slice:0:200}}</ng-container>
        <ng-container class="date">{{item.createdAt}}</ng-container>
        <ng-container class="likes">{{item.likes.length}}</ng-container>
      </app-post>
    </ng-container>
  </div>
</div>
<app-footer></app-footer>
