<div class="page-header">
  <div class="page-header-image" style="background-image:url('../../assets/img/header.jpg');"></div>
  <div class="container">
    <div class="col-md-4 content-center">

      <!-- login Card Form -->
      <div class="card col-md-8 card-login card-plain">
        <form class="form" [formGroup]="form" autocomplete="off">

          <!-- logo -->
          <div class="header header-primary text-center d-none d-md-block">
            <div class="logo-container">
              <img src="../../assets/img/_free-file.png" width="80" height="100" alt="">
              <br>
              <span class="navbar-brand">Blogify</span>
            </div>
          </div>

          <!-- input from  -->
          <div class="content mt-3">
            <!-- firstname -->
            <div class="row">

              <div class="col-12 col-md-6">
                <div class="input-group form-group-no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text pr-2 text-white"> <i class="now-ui-icons users_circle-08"></i></span>
                  </div>
                  <input formControlName="fname" #fname [class.is-invalid]="Fname.touched && Fname.invalid"
                    [class.is-valid]="Fname.touched && !Fname.invalid" type="text" class="form-control"
                    placeholder="Firstname..." autocomplete="off">
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="input-group form-group-no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text pr-2  text-white"> <i class="now-ui-icons users_circle-08"></i></span>
                  </div>
                  <input formControlName="lname" #lname [class.is-invalid]="Lname.touched && Lname.invalid"
                    [class.is-valid]="Lname.touched && !Lname.invalid" type="text" class="form-control"
                    placeholder="Lastname..." autocomplete="off">
                </div>
              </div>

            </div>

            <div>
              <!-- username -->
              <div class="input-group form-group-no-border input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text pr-2 text-white"> <i class="now-ui-icons users_circle-08"></i></span>
                </div>
                <input [class.is-invalid]="Username.touched && Username.invalid"
                  [class.is-valid]="Username.touched && !Username.invalid" formControlName="username" #username
                  type="text" class="form-control" placeholder="Username..." autocomplete="off">
              </div>
            </div>


            <div class="row">
              <!-- Email -->
              <div class="col-12 col-md-6">
                <div class="input-group form-group-no-border input-lg ">
                  <div class="input-group-prepend">
                    <span class="input-group-text pr-2 text-white"> <i class="far fa-envelope"></i></span>
                  </div>
                  <input [class.is-invalid]="Email.touched && Email.invalid"
                    [class.is-valid]="Email.touched && !Email.invalid" formControlName="email" #email type="text"
                    class="form-control" placeholder="Email..." autocomplete="off">
                </div>
              </div>

              <div class="col-12 col-md-6">
                <!-- password -->
                <div class="input-group form-group-no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text pr-2  text-white"><i class="fas fa-key text_caps-small"></i></span>
                  </div>
                  <input [class.is-invalid]="Password.touched && Password.invalid"
                    [class.is-valid]="Password.touched && !Password.invalid" formControlName="password" #password
                    type="password" placeholder="Password..." class="form-control" autocomplete="off" />
                </div>
              </div>

            </div>


            <!-- address -->
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="input-group form-group-no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text pr-2 text-white"> <i class="far fa-map"></i></span>
                  </div>
                  <input formControlName="address" #address [class.is-invalid]="Address.touched && Address.invalid"
                    [class.is-valid]="Address.touched && !Address.invalid" type="text" class="form-control"
                    placeholder="Address..." autocomplete="off">
                </div>
              </div>

              <!-- Date -->
              <div class="col-12 col-md-6">
                <div class="input-group form-group-no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text pr-2 text-white"><i class="far fa-calendar-alt"></i></span>
                  </div>
                  <input max="2000-12-30" min="1960-01-02" #dob type="date" class="form-control pr-2 text-white">
                </div>
              </div>
            </div>


          </div>

          <div class="footer text-center">
            <button class="btn btn-round btn-block shadow"
              [disabled]="Username.invalid||Password.invalid||Address.invalid||Email.invalid||Fname.invalid||Lname.invalid"
              type="submit" (click)="createNewUser(fname,lname,username,email,password,address,dob)">
              Login
            </button>
          </div>
          <div class="pull-left">
            <h6>
              <a routerLink="/login" class="link">Already have an account</a>
            </h6>
          </div>
        </form>

      </div>
    </div>
  </div>

  <!-- simple footer -->
  <footer class="footer">
    <div class="container">
      <div class="copyright mt-4">
        &copy;
        {{data | date: 'yyyy'}}, Designed by
        <a href="#" class="link">Invision</a>. Coded by
        <a href="#" class="link">Blogify</a>.
      </div>
    </div>
  </footer>
</div>
