<app-navbar></app-navbar>
<div class="container">


  <div *ngIf="!isComplete" class="d-flex flex-wrap">
    <ng-container class="border-0" *ngFor="let i of number">
      <app-loader class="col-12 col-md-6 col-lg-4"></app-loader>
    </ng-container>
  </div>

  <div class="d-flex flex-wrap">
    <ng-container *ngFor="let item of arr">
      <app-post class="col-12 col-md-6 col-lg-4">
        <ng-container class="title">{{item.title}}</ng-container>
        <ng-container class="content">{{item.content | slice:0:100}}</ng-container>
        <ng-container class="date">{{item.createdAt | date:'mediumDate'}}</ng-container>
        <ng-container class="likes">{{item.likes.length}}</ng-container>
      </app-post>
    </ng-container>
  </div>
</div>
<app-footer></app-footer>
