<div class="card text-center mt-4">
  <div class="d-flex justify-content-center pt-4">
    <div [style.background-color]="img.chooseColor(name)"
      class="imgDiv d-flex p-4 justify-content-center text-center rounded-circle text-white">
      <span class="imgDivName p-3">{{img.genrateChar(name)}}</span>
    </div>
  </div>
  <div class="card-body">
    <h4 class="h5" (click)="navigateToProfile()" style="cursor: pointer;">
      <ng-content select=".name"></ng-content>
    </h4>
    <p class="h6" (click)="navigateToProfile()" style="cursor: pointer;">
      <ng-content select=".username"></ng-content>
    </p>
    <button type="button" class="shadow-sm pr-5 pl-5 shadow-sm mt-5 mb-2" (click)="onFollowClicked()"
      [class.btn-unfollow]="flag" [class.btn]="!flag">
      <span *ngIf="!flag">Follow</span>
      <span *ngIf="flag">Unfollow</span></button>
  </div>
</div>
