<div class="text-center">
  <h2
    style="color: rgba(0, 0, 0, 0.623); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    All Users</h2>
</div>
<div class="d-flex flex-wrap">
  <ng-container *ngFor="let item of usersArr">
    <app-user-card class="col-12 col-md-6 col-lg-4" [name]="item.fname" [auther]="item._id"
      [followers]="item?.following">
      <ng-container class="name">
        {{img.nameToCaptial(item?.fname+' '+item?.lname)}}
      </ng-container>
      <ng-container class="username">
        {{'@'+item?.username}}
      </ng-container>
    </app-user-card>
  </ng-container>
</div>
