<div class="media">
  <img *ngIf="!showDiv" class="d-flex mr-3" height="50" width="50" src="" alt="Generic placeholder image"
    class="rounded-circle mr-3">
  <div *ngIf="showDiv" [style.background-color]="imgServices.chooseColor(name)"
    class="imgDiv d-flex justify-content-center text-center rounded-circle text-white">
    <span class="h5 p-3">{{imgServices.genrateChar(name)}}</span>
  </div>
  <div class="media-body">
    <h5 class="mt-0">
      {{name}}
    </h5>
    <div class="content p-3 d-flex flex-column">
      <ng-content select=".content"></ng-content>
      <div class="align-self-end mt-2">
        <i class="far fa-clock" style="color: #28c886;"></i>
        <ng-content select=".date"></ng-content>
      </div>
    </div>
  </div>
</div>
