<div class="media m-2">
  <img class="d-flex mr-3" height="50" width="50" src="../../assets//img/ryunosuke-kikuno--7SAWWnthAY-unsplash.jpg"
    alt="Generic placeholder image" class="rounded-circle mr-3">
  <div class="media-body">
    <h5 class="mt-0">Ali Mohamed</h5>
    <div class="content p-4"> Cras sit amet nibh libero, in
      gravida nulla.
      Nulla vel
      metus scelerisque ante
      sollicitudin. Cras purus odio,
      vestibulum in vulputate at,addknljhlhlhojhh hlhaljhdldh ohlahlhdo ho

      <div class="float-right mt-3">
        <i class="far fa-clock" style="color: #28c886;"></i> Jub 16, 2020
      </div>
    </div>
  </div>
</div>
